button
{
    width: 300px;
    height: 80px;
    background-color: burlywood;
    font-size: larger;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style:inherit;
}
body
{
    background-repeat: no-repeat;
    background-size: cover;
}
h1
{
    font-size: 40px;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}
li{
    float: left;
}
li a{
    display: block;
    color: antiquewhite;
    text-align: center;
    padding: 14px 50px;
    text-decoration: none;
}
li a:hover{
    background-color: burlywood;
}
#formulario
{
    background-color: burlywood;
    border: 5px rgb(46, 22, 3);
    padding: 5px;
    width: 200px;
}
input{
    background-color: rgb(90, 51, 19);
}
label{
    color: black;
    text-decoration: underline;
}