p {
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: aliceblue;
}

body {
    background: fixed;
    background-image: url("data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAoHCBUWFRgWFhUZGBgaHBoYGhgYGhgaGBgYHBoZGhgaGhgcIS4lHB4rIRgYJjgmKy8xNTU1GiQ7QDs0Py40NTEBDAwMEA8QGhISGjQhISE0NDQ0NDQ0NDQ0NDQ0NDQ0NDQ0NDQ0NDQ0NDQ0NDQ0NDQ0NDQ0NDQ0NDQ0ND80ND80NP/AABEIAKMBNgMBIgACEQEDEQH/xAAbAAACAwEBAQAAAAAAAAAAAAADBAECBQAGB//EADgQAAIBAwIFAgUDAgUEAwAAAAECAAMRIQQxBRJBUWEicROBkaGxBjLBcvAUQmLR4SOCkvEWJDP/xAAYAQADAQEAAAAAAAAAAAAAAAAAAQIDBP/EAB8RAQEBAQADAQADAQAAAAAAAAABAhESITFBAyJRYf/aAAwDAQACEQMRAD8A8GRM195oGZznMDrrSyGxEpLpvFU9HbaQtPF5d9oRQOWSZN+0qokqJYJ0lBTmlkS8HbMc0tLHzhQpSBEuKd7nrLMuTJp7RdBZ7m15Nd8QrpbMUrNcxh6/QUwtNR3zJocSa70rDl3vbII7GK6CtemPGIhonJrtne8xk+hrMy3Ae/ITYkC9vlE9TwGm5LUqoI7MCp++JpUNIzo7DZCsLxRFJRBa5IuBvtDy4qTryOq4XVT9yG3cZH1EBS0jN0P0nvW4PYekuPnj6SlTQVKaWWzB8t6c38GObnDubHh30jAxcCeo1KMretCuLbbyycO0zpzB+V+qkyppPi8uRadeaet4dbKg2gKGhJ3j8oXCFobTGzRptDFkWzW8w6XG5otjMziC+s+ZpacWiXExkRQ+MwGFT2lLQyJfF/eMdU5JC04RzY2z84anpyYCEW3hUx9Jd6NjOZpRhO2LSgEYp0+aVrU+WAaHA6lnI7iaHEV9JmHoms6+4no9VTukjX1WfjAZp0PXoeke86PoQ4xM1hkzTrHEz3WWiwMSwMgyVgQ6kGwjGpay2ESvJeoTFYFXJlVe0nmlSIBK7zWoJ6RMvTC7CbF7CLQhSqLEjvC/DxeDALP94Z36DaSYTnEz33jtW/aIviWGlpa/KnuYz+nNOz1WYbAEkzELm1p6b9G11VapbGB/My1OQ8z21U1n+HRxYMzkWHYDqZbh/CHYrXqG1ze0HwbTpUeo7m/Jaw7k3tiW4jx8rS+GKbhh1O2/tJ5Wk+vUavlVQL5O0shUqLkYniqz6zUsrKhQAWByBa2Zer+n9V6AapPxG5bZ9ONzM5j/AKrWm/xnTq6G2SBj6zz3BtEpaorr6lGBC6DhddKr02qsLKCDuGBON4bhS1VeoXAZr2JOCZfyJKPQX1rnGyi972v9Jjc5V+We8oLTLNy25rXYddsTxHHE5a5ttePF7eFqekObRPUoLhh3zDVHuwlam004ztOUziCrWDKTteW07XUHxKavYe8QRxDT8yXA2zMpZv06t1tMauuTjrGSFUMwBPbeaBVdr2ImUjWYRliS0LOKyKlAsbTQPChGOH0LC8bQbyNbPjCbSchuIlrTN/UjBmBqhmVm9FnAaP7h7ievqj0g+B+J5JE6z0yVboo/0j8R7GWfqrco9/4nSNauB7zpJknMWeM1ItUmyaE0hZzTlglJkGTItALU1uZLrmG09PF4BhkxWgXSJmaL3JAmXTNsxpNTnPa0VggqPZjBqbsYN3k0RmLhiOsQqbzQr1AvvMx2jhInp/0sv/TrHwPwZ5mmJ6/9PU7aaqfP8SdfFZ+mP0j++q52AAnqNRRV1XA9RX8ief8A0pStQqOer2+k3qaMalLoAdpnatqNTCKfF7TqfqZPr87RfjetVEJb2AG5M8z/APKGRl56RVb4J3kztPj02uAD7ZsM/OZ+opjnNh1jupfmIbuFI/MXYBqlj3jKKVOGox58qSLHlNr9rzw/6ioBKhGfnmfRKpsbCeE/U6H4pxF/Hf7cO/GHVb1LJqvtB6gYHiDDzpZVpaUHlnax7AQemqYna9rqJnfpGaG0GXV/QR6hsf8AeV0bXAgXa1WPhyhVtGV32kaZiX9pOpqEk5kad7GVZ6KPV0iOQQVNxY3mZUrm2DFKlVrb5mPj7aytLUVBeZ+soruIo1Vu8t8TzNc54m3qKQ6T0XD6d6Y+k88CN5t8H1NltvFoRTiCegf1fwZ0BxettnrOkKZhaAcwpgGM3Z1VpInGcsC64CSu8uoxBmBcNU3FrGBrHOJVWl0W8mw1qgwIIHrD6hCAMWgUW4McNxacHkEYEqYyWd7yplLzgYBdFF56vQFhpfTsxa/1tPKLPYaA/wD0j7n8yN/Dz9aHA8aYDu7fxPRo3qXxPLUUqAaflb0HLDaxv956QN6phr61inFa6C3OQM4v3nmf1NqabqiIQWuNs2m9xLTq9lYXBH3ieg4RTQ3CAG+/WPPoVrE8qovXkUfOK06l6vzhtSxLW7Y+0U0xu/m14qI1a24nlP1PTu4M9Nqnso/7Zg8ep3UGTi80d+PI6lMRATW1S4mS+DOxkYoGXruOU3ii1LS9VriTxJ3Q7QWsNnBhNAcRfXnIik9hFVrmUVpDSBLB+oTyBsdop8QwZaQGi4Or3kiVvIJjOUe+IzotSFye2YiGMPp9Pci+0mqV4hrAxuNpMPxDRCwsLZtOkegTeAaManBtFzNUVwllWVUR7TUsRWhZKXoMSdbGbDU7LYTK1P7jFm9KAtLo9oMyRKpm9Q/MBBAYJkK3SSzWvYyecATmRLMhEgiUKGBJtJIkqIByz2FDGiXyT+TPIKJ7GovLpEB3OZnv7F5O0auKQ8CbWnYE+083Tf1Ux4H4m5oTYn2mGvq4bLBvliDoZP8AfeI1dRyOfIjOgeOGJWPqP99IOlZV5jjz4l9yfeKcRQfDN+gNvfpCgzU1Cul1NxdRE+MD0RfgX/4t/WI1xf8AZJz60Px5TUCZWvSxHmadYxXXJcA9p2X4yZkmGenKsuIokxoXAuJXiA2MrpjmX13STfoCTIlBL09oNZUDiJWXMoYwkGcTIvJvAoMhxG9GciKUhGNKbNFWkNcRf0j3/gzoLiL+ke/8SJibOrvdjKSBJM3ZUSgMzXoJtMrTEdZr0aqdGEnVEXHWY2q/cZtvgTE1G5k5vsy5kiRJE1Cwh0WBQZjGrFmx4iCupWzWggkImTmXemQIjK8sJQA5vkZyDMvp09cOlxFOncj3E9bxr0oieB+JhcLpHnB5QbHAM0uI1y7rcAZAte8z17saZNUP3oOw/ibOnbJ9pgUqn/UJ7Ym3oM8x8fxMtfVwnq39XyE0NM9vtMuqbsPaaenhwh9O11J8yuspnlJt6QR9J2n/AGH3/mESqR85P6bO4Qo5XUG45wRCcYf0GV0WnKO5JHKzAj+ZTihBQ2ZT8xCT+3R+PM1TiDqrdYSqMReo+J234yCtC0NEzmwwNy3QCUprzWE1q9kQIME5byO0w1rgK0GoJcCmXtuxYj6AQfFdMpVXT9h6HdT2MFTWxNuol9NWAVkY4a3mxHWOz9IjSQyRT8xlNMQ5DZAz4MX1H7jLhaDCGdVp2nI1jH9ZS9AMYjJE6SRIjENaYXhRgxag9rwyteConiZ9K+/8TpfWbD++k6ZGzlEkyQJBmqErteCQ5+cZZLJBaSnzNJo4a1DkEC56QDRupTu4MVdfzCcAUmdaE+HKC9AeoS+sa7Rr/C8jL7A/WK1aZLYG5tJll+Hx2mQk4mlUo81PG67+x2gNHpmAJ26R7R1eVwCLg+kwtPjL0KKW5XxfAPY95qnhXKrts1Mjmt1U7MJncQo8jsNs3E9Xoq4ekGNrleU+bSN658BLRaIFmyQLXxMvWUTz8qk3Gbz0ei5QL3yRM3V0jzMy+1vEjOvZyfpHQ3BIJzPUcNYBST1x9p5jSn1Gei0j2QQq4BTp3a/aaFE7zNpVDzcvk5miDYSQjSOQhB9/leMLmARbKP6QYZBJqoBrKJZQO5Eydbw0qLhR7gn8Ga2tq8pQd2/3na/KkdwfxHn1Srx1TYwNRbiM1U3HaAQ3UeJ1XXpiiieXPbaN1a3PmKOMRzTgAAsJjq/pkxpKjn0qTCpo3Q5Q3sd9o6eJMP2Wt2l6HGagyyr7ESfLRM6pV5FClR7Zi5RX2blJ77fWbqcQoVTZk+G/Q2BU+8zaiJzlXFvK7e80zoM6pp2Q2YW/B9jNN6itT5dzaXbRXAIbmQdtwPaL6ihyZ3B2PeV5dEZLjMiNPWB3Ue8rYn9v/MrpB00MaoJc2i6XvmaOmFiTFqnAuIpge/8AE6U1+oFh7zpCukaYvG/gBRc5PQQ2l01smDsXfbAmlsQDrxYCdwynuYzraBYhR5hNBQsvzk+UAvw4i6WYD2mtaIalfUfaKaEL6ij6z7iNUNNzN7kCTyXueuI5o2xj9x2k61eKq9SkLk3tyjEV5AGXPQk+81jpea/N2z8pk6lfVyjoJlm/4fU0SOTzc3/iXV72B+R8ytPRs2wJ85jFGmqH1+o9FHeVdyfo6NqaCOl3uGXBt0/3hNIoppy35gbkGQ+pZwQEt0JMrpnFuVtxge0i7tHFaNdXPLkEd4xz4I6wVegGvbBAxFKqON95efq/xagmST5m45CovkAzHDMEuUa/scy+p1ZZQoBGBuLR1J/TOC0e5/5/E822oKOFA7XMbratrWAk2jrdUix/pX8iSKg7zFq68iw8AGD/AMVe8m0eTT4mbmmf9RMpqdaCSB2mfVrcwA7RNaliYvIvITV0L/OKJRubDftONYgm5uZyVhe8qa0Vqq0CWIGwOTD61DYEbESqvZSo/wA256+0DWr5AEfaRdEM0WX03JsbYi4KnAjS2+neK64RekUbDpnoy7/OTrNKQoYDm8jtGTTPLdRc+Nh/vDaHUEE862t9DfpHNCsWnqihuot8zNDTa5XVkZbX/wDG/fwZfifDw13pbf5l7RHTvvew9huJdss6efYWq0JQXOx2O4ixosBzDI7ibiPyUwEHMTckML3HaZzOrE39A7AXsYZ/ktO54DQUubEXsPn9YYj04OY7w7Tj1OGDAC17W3gHTeF33Vycz66xdUxkTtXvOljjfIG15amgBgC+YT4gvI9og6qL38W+sJSogLbriKpWsY4jlszLVsMRNLiN0uGpYs9rEekdSYqlcg2IxB19W5tvYYEn+58GbQJjuesZ02iRB56RHT1GdrcwXyZo0+HVCb8wIuBe+PlI1589nwyEQjPzir8PpkkgTSpcKubF/e0YbgyDdzaZd1P0/DTIQKosNoAohIIW5vNGtoEAOSfVb5DeTScKQvKP9Pm+1/zHmXoubC1PRORcLb3kVNBZgTYYP2jL6/0v4YgWPSZVfiRZrE+MdBNpkLad1JOfAhnRASL3It98zFoVsjtKPqizsx6/gYEuZHW3V1t3GcAX+0Q1Gq5j/SP5iAqXbJxaQj2VvML0rR31Chb2yW+glhqAF8np2meWx7QZePxpdOs97Eyo1Ai/xcWlV2j8R0+la8isbHEUV7WhXrc28XiSqrc56wSpkiED2klhk9ZYQtW0Xq7kwjmBaOwqmnVsZo6I8xuTMuM6aty9ZGs9Eb/Kben7xQsxvf8Av5ylLXG1oSlqMzPtypZGI9S+lh32Pgweppo5Lrg29QG1+4hqtMEWEQqAqesc10T0I63VT4iVVQSb4HePKAxGbDr7RbUgMxA/b0jx6+nb0fSHlpuAQcg4izVMHvIX0gqDvvBNKmf7W/6fl64S1OwuM95EY4hTuoJNs2H0nTVPXoNDwCtUzy8o8x5f0s6kc7enwMydBxx1Yczembq8aR/81sdZz7u5Wmc5I0uC6dLXBY+Y0mjpdFW/Qf5RA6riVIA+rp03nnE4gSWybZ+kWfK32NST41uJ1qSY5gWPRekydOiu12J5fJtEaZDMxY2G+d5D6y1wNthOqT0hp19dSQ2VA1ut5CcYIAATbyZhfFnF4cn6nvHrNB+o3J5Ai+8Y1/GuzCwFrC+/UzxSVSuQcynxJnr+PP8Ai5uvU1OIj0AHFrn/AJma3EWLk3O/42mcjzkcXEi4k+FddNVNUwY5irVTc+ZNRc37wLSpkrREq2kc8HOBlcLq4qWk/GgrypMPEdFZx0gi0rJErhJvJDykkQ4BBUk/Eg7zocC3xIRGgZZIcAjv0giYSDMYTecJW060XAOjd43RYTPDRmm8z1kziag7Xk1iCM/+4lzW8xl/UotvI8TCFUdBa+MmBRs2vGKumxkbRZlzjrHOUquzSLSadPBkESugHXtgY/u06RrgbD3/AInSuhb/ABL9/sJQ6l+/2E6dNNL/ABB1L23+wkLqXAbP4nTpP4QJrtbeDNZu86dGX64Vm7zjWbvOnR1KGrN3lRWbvOnSTFo12zmctZr7yJ0VCx1LW3/EG1du86dCBPxm7yBWbvOnSg74zd5Vqzd506MIFZu84Vm7zp0A74zd53xm7zp0CSazd5IrN3nToBPxm7ywrN3nToGlqzd5U1m7zp0CR8Zu84Vm7zp0DR8Zu8IlZu8mdFfoXNdu8NQ1L9/sJ06Z6+A5qNS5W1/sIk1Zr7/YTp0yyQx1DBBn7CKCu3eROms+K/U1q7coz1kzp0cJ/9k=");
    background-size: cover;
}

img{
    display:block;
    margin:auto;
 }

 h1 {
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-size: 60px;
    color: aliceblue;
    text-align: center;
 }

 * {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
