body
{
    background-image: url(/img/fondo_inicio.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.titulo1
{
    text-align: center;
}
.cuerpo div a
{
    text-decoration: none;
    color: white;
}