a
{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
header
{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 70px;
    background-color: rgba(5, 5, 53, 0.327);
}
.logo
{
    display: flex;
    align-items: center;
}
.logo  img
{
    height: 70px;
    margin-right: 15px;
}
nav
{
    padding-bottom: 15px;
}
nav a
{
    padding-left: 20px;
}
nav a:hover
{
    color: rgb(66, 5, 104);
}
@media (min-width:600px)
{
    header
    {
        flex-direction: row;
        padding: 0px 30px;
        justify-content: space-between;
    }
}
a
{
    font-size: 25px;
}