body {
    background-image: url("https://static4.depositphotos.com/1000393/328/i/450/depositphotos_3280491-stock-photo-fresh-bamboo-background.jpg");
}
h1{
    color: aliceblue;
}

.title {

    font-size: 100px;
    color: black;
    background-color: khaki;


}

.minion {

    background-color: orange;



}

#title1 {
    text-align: center;
}

ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    text-align: center;
    float: center;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
li a:hover {
    background-color: #111;
}

nav  {

    background-color: black;
    margin: 0px;
    padding: 0px;
    text-align: center;
    display: inline-block;
    position: absolute; left: 45%;

}