*{
    margin: 0;
}
.adios{
    height: 600px;
    width: 600px;
    background-color: brown;
}
.hola{
    height: 100%;
    width: 100%;
    background-color: aqua;
    clip-path: polygon(39% 33%, 56% 0, 63% 0, 48% 28%, 68% 48%, 42% 66%, 73% 100%, 61% 100%, 33% 61%, 56% 47%);
}