*{
    margin: 0;
}
.cuerpo{
    height: 100%;
    width: 100%;
    background-color: brown;
    position: relative;
}
.comenzar{
    height: 100%;
    width: 100%;
    background-color: red;
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.contenedor{
    position: relative;
    height: 800px;
    width: 1000px;
}
.btm-sgt{
    margin: 50px;
    height: 80px;
}
.camino1{
    height: 100%;
    width: 100%;
    background-color: aqua;
    clip-path: polygon(57% 81%, 59% 81%, 59% 96%, 41% 96%, 41% 81%, 43% 81%, 43% 55%, 16% 55%, 16% 6%, 83% 6%, 83% 19%, 27% 19%, 27% 40%, 57% 40%);
}
.camino2{
    height: 100%;
    width: 100%;
    background-color: aqua;
    clip-path: polygon(92% 19%, 92% 6%, 8% 6%, 8% 37%, 77% 37%, 77% 66%, 50% 66%, 50% 80%, 56% 80%, 56% 74%, 85% 74%, 85% 27%, 19% 27%, 19% 19%);
    
}
.camino3{
    height: 100%;
    width: 100%;
    background-color: aqua;
    clip-path: polygon(50% 87%, 56% 87%, 56% 65%, 14% 65%, 14% 43%, 33% 43%, 33% 29%, 47% 29%, 47% 53%, 68% 53%, 68% 30%, 80% 30%, 80% 23%, 77% 23%, 77% 27%, 64% 27%, 64% 48%, 53% 48%, 53% 23%, 28% 23%, 28% 36%, 7% 36%, 7% 74%, 50% 74%);   
}
.meta1{
    background-color: green;
    clip-path: polygon(83% 6%, 92% 6%, 92% 19%, 83% 19%);
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.meta2{
    background-color: green;
    clip-path: polygon(50% 80%, 56% 80%, 56% 87%, 50% 87%);
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.meta3{
    background-color: green;
    clip-path: polygon(71% 11%, 74% 11%, 74% 15%, 71% 15%);
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
body{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='105' viewBox='0 0 80 105'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='death-star' fill='%23540606' fill-opacity='0.4'%3E%3Cpath d='M20 10a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm15 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zM20 75a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zm30-65a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm0 65a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zM35 10a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zM5 45a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zm60 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p{
    text-align: center;
    font-size: 50px;
    color: white;
    text-shadow: 2px 2px 5px red;
}

.foto{
    border-radius: 10px;
    border: outset;
    border-color: white;
}

.container{
    border-radius: 10px;
    border-color: white;
    border: outset;
}
.imagenExorcistea-activado{
    position: absolute;
    height: 100%;
    width: 100%;
    display: block;
    z-index: 5;
}
.imagenExorcistea-desativado{
    display: none;
}
.trampa{
    display: none;
}
.trampa-activado{
    background-color: aqua;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    clip-path: polygon(80% 23%, 77% 23%, 71% 23%, 71% 15%, 74% 15%, 74% 20%, 80% 20%);
}